$headerHeight: 80px;

// Event types colors
$eventErrorColor: #ef7955;
$eventSuccessColor: #4ec281;
$eventFailureColor: #4b98dc;

html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt
}

html, body {
    padding: 0;
    margin: 0;
    background: #f4f5f7
}

.doc {
    max-width: 920px;
    margin: 0 auto
}