@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin transform-origin($def) {
	-webkit-transform-origin: $def;
	-moz-transform-origin: $def;
	-ms-transform-origin: $def;
	-o-transform-origin: $def;
	transform-origin: $def;
}

@mixin transform($def) {
	-webkit-transform: $def;
	-moz-transform: $def;
	-ms-transform: $def;
	-o-transform: $def;
	transform: $def;
}

@mixin transition($def) {
	-webkit-transition: $def;
	-moz-transition: $def;
	-ms-transition: $def;
	-o-transition: $def;
	transition: $def;
}

@mixin opacity($op) {
	zoom: 1;
	filter: alpha(opacity=$op*100);
	opacity: $op;
}

// Disable text selecting
@mixin disable-text-selecting() {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}