.data-list.events-list {
    margin-top: 20px;
    
    .time {
        width: 200px;
    }
    .event {
        width: 80px;
    }
    .component {
        width: 120px;   
    }
    .requirement {
        width: 120px;
    }

    .eventtype-error .event {
        color: $eventErrorColor
    }
    .eventtype-success .event {
        color: $eventSuccessColor
    }
    .eventtype-failure .event {
        color: $eventFailureColor
    }
}