.events-filter {
    $borderColor: #d4d8e1;
    
    position: relative;
    padding-right: 20px;
    float: right;

    label {
        font-size: 12pt;
        padding-right: 4px
    }

    input {
        border-radius: 4px;
        border: 1px solid $borderColor;
        padding: 4px 8px;
        outline: none;
        width: 200px;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .suggestions {
        display: none;
        position: absolute;
        top: 100%;
        right: 20px;
        width: 216px;
        background: #fff;
        border: 1px solid $borderColor
    }

    .suggestions .item {
        padding: 2px 8px;
        font-size: 12pt;
        border-top: 1px solid $borderColor;
        cursor: pointer
    }

    .suggestions .item:first-child {
        border-top: 0
    }
}