@import 'mixins';
@import 'globals';
@import 'header';
@import 'data-list';
@import 'circular-graph';
@import 'transactions-graph';
@import 'events-list';

section.main {
    padding: 0 0 40px
}

.circular-graphs {
    width: 612px;
    margin: 40px auto;
    overflow: hidden
}
.circular-graphs .circular-graph {
    margin-left: 90px;
    overflow: hidden
}
.circular-graphs .circular-graph:first-child {
    margin-left: 0
}

.transactions-graph .graph-container {
    height: 300px;

    svg {
        width: 100%;
        height: 100%;
    }
}