html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt
}
.circular-graph {
    float: left
}
.circular-graph svg {
    width: 400px;
    height: 400px
}
.circular-graph .decor {
    stroke-width: 6px;
    stroke: #dce1e7;
    fill: none
}
.circular-graph .graph {
    stroke-width: 4px;
    stroke: #b9c1ce;
    fill: none
}